<footer class="container text-center mt-5">
	<p class="text-mutted">
		<small>
			&copy;
			{{ 'now'|date('Y') }}
			&middot; Built with
			<span class="text-danger">&hearts;</span>
			by
			<a href="#">Quentin</a>
		</small>
	</p>
</footer>
