{% extends 'base.html.twig' %}

{% block title 'Update - Pin #' ~ pin.id  %}

{% block body %}
	<h1>{{ 'Update - Pin #' ~ pin.id }}</h1>
	{{ include('pin/_form.html.twig', { submitButtonText: 'Update Pin' }) }}
{% endblock %}
