{% extends 'layout/base.html.twig' %}

{% block title 'Update - Pin #' ~ pin.id  %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>{{ 'Update - Pin #' ~ pin.id }}</h1>
			{{ include('pin/_form.html.twig', { submitButtonText: 'Update Pin' }) }}
		</div>
	</div>
{% endblock %}
